<form action="/add" method="POST">
    <div
        style="width: 100%;max-width: 1180px;padding: 0 30px;margin: 32px auto;background: #f1f1f1;">
        <div
            style="width: 100%;padding: 15px;background: #f0f0f5;box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);border-radius: 8px;display: flex;justify-content: center;align-items: center;">
            <form style="width: 100%;max-width: 700px;">

                <div>

                    <div><input
                        style="width: 30em; height: 3em;"
                        name="pessoaNome"
                        placeholder="Digite o primeiro nome do contato"/></div>
                    <div><input
                        style="width: 30em; height: 3em;"
                        name="pessoaEmail"
                        placeholder="Digite o email do contato"/></div>
                    <div><input
                        style="width: 30em; height: 3em;"
                        name="pessoaTelefone"
                        placeholder="Digite o primeiro nome do contato"/></div>
                    <div><input
                        style="width: 30em; height: 3em;"
                        name="pessoaResidencial"
                        placeholder="Digite o endereço residencial do contato"/></div>
                    <div><input
                        style="width: 30em; height: 3em;"
                        name="pessoaComercial"
                        placeholder="Digite o endereço comercial do contato"/></div>
                </div>

            </form>
        </div>
        <div style="display: flex;justify-content: space-between;margin-left: 29em;">
            <button
                style=" width: 50%;height: 60px;background: #0d98ba;border: 0;border-radius: 8px;color: #fff;font-weight: 700;text-align: center;text-decoration: none;font-size: 18px;margin: 5px 2px;transition: filter 0.2s;"
                type="submit">Cadastrar</button>
        </div>
    </div>
</form>